body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(206, 188, 188);
  margin-top: 100px;
  width: 400px;
  padding: 20px;
  border: 2px black solid;
  border-radius: 15px;
}

.screen {
  background-color: white;
  padding: 10px 20px;
  border: 2px black solid;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
}

.last-screen {
  min-height: 32px;
  font-size: 20px;
}

.current-screen {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.topBtn {
  grid-column: span 2;
}

.btn {
  border: 2px black solid;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}
