body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
}

.calculator {
  background-color: #1c1c1c;
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 15px;
}

.screen {
  color: #f5f5f5;
  background-color: #505050;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
}

.last-screen {
  min-height: 32px;
  font-size: 20px;
}

.current-screen {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.btn.topBtn {
  color: #1c1c1c;
  background-color: #d4d4d2;
  grid-column: span 2;
}

.btn {
  color: #f5f5f5;
  background-color: #505050;
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.btn.operator {
  color: #f5f5f5;
  background-color: #ff9500;
}
